#letterlist{
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

#letterlist li{
    margin: 1rem;
}


/* dölja gubben från start! */
svg #head {
    display: none;
}

svg #body {
    display: none;
}


svg #arms {
    display: none;
}

svg #legs{
    display: none;
} 

